.usersPage {
    padding: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    align-items: center;
    text-align: center;
}
.ava {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.name {
    font-weight: bold;
    margin: 10px 0;
}
.pageNumber {
    cursor: pointer;
    margin: 0 5px;
}
.selectedPage {
    cursor: pointer;
    margin: 0 5px;
    font-weight: bold;
}
