.nav {
	grid-area: nav;
	background-color: aquamarine;
}
.nav ul {
	padding-left: 15%;
	padding-right: 15%;
	list-style: none;
}
li {
	margin: 10px 0;
}
.item {
	color: black;
	text-decoration: none;
}
.active {
	color: coral;
	text-decoration: none;
}

